.env
*.db
*.db-shm
*.db-wal
data/frontlane/*
data/wireguard/*
data/traefik/*
data/coredns/*
!data/frontlane/.gitkeep
!data/wireguard/.gitkeep
!data/traefik/dynamic/
data/traefik/dynamic/*
!data/traefik/dynamic/frontlane.yml
!data/traefik/letsencrypt/
data/traefik/letsencrypt/*
!data/traefik/letsencrypt/.gitkeep
!data/coredns/domains.hosts
