.env
*.db
*.db-shm
*.db-wal
data/privatewg/*
data/wireguard/*
data/traefik/*
data/coredns/*
!data/privatewg/.gitkeep
!data/wireguard/.gitkeep
!data/traefik/dynamic/
data/traefik/dynamic/*
!data/traefik/dynamic/privatewg.yml
!data/traefik/letsencrypt/
data/traefik/letsencrypt/*
!data/traefik/letsencrypt/.gitkeep
!data/coredns/domains.hosts
